#@data/values

---
imageVersions:
- name: debian-base-image
  image: "debian:sid-20230502-slim"
- name: docker-in-docker
  image: "docker:27.5.1-dind"
- name: loftsh-kubernetes-v1.31
  image: "ghcr.io/loft-sh/kubernetes:v1.31.1"
- name: loftsh-kubernetes-v1.32
  image: "ghcr.io/loft-sh/kubernetes:v1.32.1"
- name: loftsh-kubernetes-v1.33
  image: "ghcr.io/loft-sh/kubernetes:v1.33.4"
- name: loftsh-kubernetes-v1.34
  image: "ghcr.io/loft-sh/kubernetes:v1.34.0"
- name: loftsh-vcluster
  image: "ghcr.io/loft-sh/vcluster-oss:0.30.2"
